body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

button {
  background: #00f7ff; 
  padding: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.games {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111;
  padding: 40px;
  border: 1px solid #333;
}